<h1>旅の指南書</h1>

<p><%= link_to I18n.t('views.messages.go_guide_index'), guides_path %></p>

<p><%= link_to I18n.t('views.messages.new_registration'), new_user_registration_path %></p>
<p><%= link_to I18n.t('views.messages.login'), new_user_session_path %></p>
<p><%= link_to I18n.t('views.messages.guest_sign_in'), users_guest_sign_in_path, method: :post %></p>
<p><%= link_to I18n.t('views.messages.admin_guest_sign_in'), users_admin_guest_sign_in_path, method: :post %></p>
