<div class="guides_post_form">
  <%= form_with(model: @guide, local: true) do |form| %>
    <% if @guide.errors.any? %>
      <div id="error_explanation">
        <h2><%= @guide.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <section id="fields">
      <table>
        <tr>
          <th>
            <%= form.label :title %>
            <span class="required">※必須</span>
          </th>
          <td>
            <%= form.text_field :title, required: true %>
          </td>
        </tr>
        <tr>
          <th>
            所在地情報
          </th>
          <td>
            <div class="field">
              <%= form.label :prefecture %>
              <%= form.select :prefecture, Guide.prefectures.keys %>
            </div>
            <div class="field">
              <%= form.label :address %>
              <%= form.text_field :address %>
            </div>
            <div class="field">
              <%= form.label :note %>　※マークダウン形式で記入できます。
              <%= form.text_area :note %>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <%= form.label :content %>
            <span class="required">※必須</span>
          </th>
          <td>
            ※マークダウン形式で記入できます。
            <%= form.text_area :content, required: true %>
          </td>
        </tr>
        <tr>
          <th>
            画像登録
          </th>
          <td>
          <div class="pictures flex">
            <% @guide.pictures.order(order_number: :asc).each_with_index do |picture, i| %>
              <% if picture[:image] != nil %>
                <span class="picture picture<%= i %>"><%= image_tag picture.image.url %></span>
              <% else %>
                <span class="picture<%= i %>"><%= image_tag 'no_image.jpg' %></span>
              <% end %>
            <% end %>
          </div>
          <div class="pictures_form">
            <%= form.fields_for :pictures, @guide.pictures.sort_by(&:order_number) do | picture | %>
              <p class="picture picture_<%= picture.index %>">
                <% if picture.index == 0 %>
                  <span class="image_flag">メイン画像: </span>
                  <%= picture.hidden_field :order_number, :value => picture.index %>
                  <%= picture.file_field :image %>
                  <%= picture.hidden_field :image_cache %>
                <% else %>
                <span class="image_flag">その他画像: </span>
                <%= picture.hidden_field :order_number, :value => picture.index %>
                <%= picture.file_field :image %>
                <%= picture.hidden_field :image_cache %>
                <% end %>
              </p>
            <% end %>
          </div>
          </td>
        </tr>
      </table>
    </section>

    <div class="actions">
      <%= form.submit data: { confirm: I18n.t('views.messages.confirm_submit') } %>
    </div>

  <% end %>

</div>
